---
- name: Export Meraki SD-WAN running configuration
  hosts: localhost
  gather_facts: yes  # Enable fact gathering for ansible_date_time
  vars_files:
    - ./group_vars/merakivault.yml
  vars:
    network_id: "N_812899732740392528"
    device_serial: "Q2TW-DBVG-LJ9Q"
    base_url: "https://api.meraki.com/api/v1/networks/{{ network_id }}"
    csv_path: "/tmp"
    csv_filename: "meraki_running_config_{{ network_id }}_{{ ansible_date_time.iso8601_basic_short }}.csv"
    email_subject: "Meraki MX450 Running Config (Network {{ network_id }})"
    email_host: "192.168.200.150"
    email_from: "breilly@shazam.net"
    email_body: "Attached is the running configuration for Meraki MX450 (Network: {{ network_id }}, Serial: {{ device_serial }})."
    email_to: "breilly@shazam.net, njanssen@shazam.net"
    headers:
      X-Cisco-Meraki-API-Key: "{{ vault_meraki_apikey }}"
      Content-Type: "application/json"

  tasks:
    - name: Get Device Details
      uri:
        url: "{{ base_url }}/devices/{{ device_serial }}"
        method: GET
        headers: "{{ headers }}"
        return_content: yes
        status_code: 200
      register: device_details

    - name: Save Device Details
      copy:
        content: "{{ device_details.content }}"
        dest: "./device_details.json"

    - name: Get Route Table (Static Routes)
      uri:
        url: "{{ base_url }}/appliance/staticRoutes"
        method: GET
        headers: "{{ headers }}"
        return_content: yes
        status_code: 200
      register: route_table

    - name: Save Route Table
      copy:
        content: "{{ route_table.content }}"
        dest: "./route_table.json"

    - name: Get VLAN Settings
      uri:
        url: "{{ base_url }}/appliance/vlans/settings"
        method: GET
        headers: "{{ headers }}"
        return_content: yes
        status_code: 200
      register: vlan_settings

    - name: Get VLANs
      uri:
        url: "{{ base_url }}/appliance/vlans"
        method: GET
        headers: "{{ headers }}"
        return_content: yes
        status_code: 200
      register: vlans
      when: vlan_settings.json.vlansEnabled | bool

    - name: Save VLANs
      copy:
        content: "{{ vlans.content | default('[]') }}"
        dest: "./vlans.json"
      when: vlan_settings.json.vlansEnabled | bool

    - name: Get L3 Firewall Rules
      uri:
        url: "{{ base_url }}/appliance/firewall/l3FirewallRules"
        method: GET
        headers: "{{ headers }}"
        return_content: yes
        status_code: 200
      register: l3_firewall_rules

    - name: Save L3 Firewall Rules
      copy:
        content: "{{ l3_firewall_rules.content }}"
        dest: "./l3_firewall_rules.json"

    - name: Get Site-to-Site VPN
      uri:
        url: "{{ base_url }}/appliance/vpn/siteToSiteVpn"
        method: GET
        headers: "{{ headers }}"
        return_content: yes
        status_code: 200
      register: s2s_vpn

    - name: Save Site-to-Site VPN
      copy:
        content: "{{ s2s_vpn.content }}"
        dest: "./site_to_site_vpn.json"

    - name: Get Traffic Shaping Rules
      uri:
        url: "{{ base_url }}/appliance/trafficShaping/rules"
        method: GET
        headers: "{{ headers }}"
        return_content: yes
        status_code: 200
      register: traffic_shaping_rules

    - name: Save Traffic Shaping Rules
      copy:
        content: "{{ traffic_shaping_rules.content }}"
        dest: "./traffic_shaping_rules.json"

    - name: Get Content Filtering
      uri:
        url: "{{ base_url }}/appliance/contentFiltering"
        method: GET
        headers: "{{ headers }}"
        return_content: yes
        status_code: 200
      register: content_filtering

    - name: Save Content Filtering
      copy:
        content: "{{ content_filtering.content }}"
        dest: "./content_filtering.json"

    - name: Get Intrusion Detection
      uri:
        url: "{{ base_url }}/appliance/security/intrusion"
        method: GET
        headers: "{{ headers }}"
        return_content: yes
        status_code: [200, 400]
      register: intrusion

    - name: Save Intrusion Detection
      copy:
        content: "{{ intrusion.content | default('{\"mode\": \"disabled\"}') }}"
        dest: "./intrusion_detection.json"

    - name: Get Malware Protection
      uri:
        url: "{{ base_url }}/appliance/security/malware"
        method: GET
        headers: "{{ headers }}"
        return_content: yes
        status_code: [200, 400]
      register: malware

    - name: Save Malware Protection
      copy:
        content: "{{ malware.content | default('{\"mode\": \"disabled\"}') }}"
        dest: "./malware_protection.json"

    - name: Get L7 Firewall Rules
      uri:
        url: "{{ base_url }}/appliance/firewall/l7FirewallRules"
        method: GET
        headers: "{{ headers }}"
        return_content: yes
        status_code: [200, 400]
      register: l7_firewall_rules

    - name: Save L7 Firewall Rules
      copy:
        content: "{{ l7_firewall_rules.content | default('{\"rules\": []}') }}"
        dest: "./l7_firewall_rules.json"

    - name: Get Appliance Ports
      uri:
        url: "{{ base_url }}/appliance/ports"
        method: GET
        headers: "{{ headers }}"
        return_content: yes
        status_code: [200, 400]
      register: appliance_ports

    - name: Save Appliance Ports
      copy:
        content: "{{ appliance_ports.content | default('[]') }}"
        dest: "./appliance_ports.json"

    - name: Get Warm Spare Settings
      uri:
        url: "{{ base_url }}/appliance/warmSpare"
        method: GET
        headers: "{{ headers }}"
        return_content: yes
        status_code: [200, 400]
      register: warm_spare

    - name: Save Warm Spare Settings
      copy:
        content: "{{ warm_spare.content | default('{\"enabled\": false}') }}"
        dest: "./warm_spare.json"

    - name: Get Appliance Settings
      uri:
        url: "{{ base_url }}/appliance/settings"
        method: GET
        headers: "{{ headers }}"
        return_content: yes
        status_code: 200
      register: appliance_settings

    - name: Save Appliance Settings
      copy:
        content: "{{ appliance_settings.content }}"
        dest: "./appliance_settings.json"

    - name: Render Running Config CSV
      template:
        src: templates/meraki_running_config_csv.j2
        dest: "{{ csv_path }}/{{ csv_filename }}"
      vars:
        device_details: "{{ device_details.json }}"
        route_table: "{{ route_table.json }}"
        vlan_settings: "{{ vlan_settings.json }}"
        vlans: "{{ vlans.json | default([]) }}"
        l3_firewall_rules: "{{ l3_firewall_rules.json }}"
        s2s_vpn: "{{ s2s_vpn.json }}"
        traffic_shaping_rules: "{{ traffic_shaping_rules.json }}"
        content_filtering: "{{ content_filtering.json }}"
        intrusion: "{{ intrusion.json | default({'mode': 'disabled'}) }}"
        malware: "{{ malware.json | default({'mode': 'disabled'}) }}"
        l7_firewall_rules: "{{ l7_firewall_rules.json | default({'rules': []}) }}"
        appliance_ports: "{{ appliance_ports.json | default([]) }}"
        warm_spare: "{{ warm_spare.json | default({'enabled': false}) }}"
        appliance_settings: "{{ appliance_settings.json }}"
      register: render_result

    - name: Debug Rendered Config
      debug:
        msg: "{{ render_result.dest_content | default('No content rendered') }}"
      when: render_result.dest_content is defined

    - name: Verify CSV File
      stat:
        path: "{{ csv_path }}/{{ csv_filename }}"
      register: file_stat

    - name: Debug File Status
      debug:
        msg: "File {{ csv_filename }} exists: {{ file_stat.stat.exists }}, Size: {{ file_stat.stat.size | default(0) }} bytes"

    - name: Send Email
      mail:
        host: "{{ email_host }}"
        from: "{{ email_from }}"
        port: 25
        to: "{{ email_to }}"
        subject: "[Ansible] {{ email_subject }}"
        body: "{{ email_body }}"
        attach: "{{ csv_path }}/{{ csv_filename }}"
        subtype: html
      delegate_to: localhost
      run_once: true
      when: file_stat.stat.exists | bool

    - name: Clean Up CSV File
      file:
        path: "{{ csv_path }}/{{ csv_filename }}"
        state: absent
      delegate_to: localhost